# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# RStudio files
.Rproj.user/
# Other files
.Ruserdata
appendixrevised.R
.Rproj.user
PooledMeanSD.R
PooledMeanSD.RPooledMeanSD.R
cacert.pem
LST_simulations.rar
LST_simulations.zip
ExportLatex.R
#Folders
Simulations
ML-VAR_Examples
lavaan_files
ML_Mplus_files
Mplus_files
Mplus_files_Results
Steyer_ComplementC
FoldersDelete
Mplus_files_TV
Mplus_files_Cross
Peregrine
Results-Backup
HND
#Mplus_Simulation/Windows_50replicates
