# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# RStudio files
.Rproj.user/
# Other files
.Ruserdata
appendixrevised.R
.Rproj.user
PooledMeanSD.R
PooledMeanSD.RPooledMeanSD.R
cacert.pem
Simulations
